body{
    margin-top:0px;
    background-color: rgb(222, 250, 206);

}

.container{
    display:grid;
    grid-template-areas: 
    "header header header"
    "inputbox inputbox inputbox"
    ". list .";
    grid-template-columns: auto;
    grid-template-rows: 1fr, 2fr, 1fr;
    justify-items: center;
}

header{
    grid-area:header;
    height:100%;
    width:100%;
    padding:20px 40px 0px 40px;
    text-align:center;
    background-color: rgb(248, 248, 248);
}

#taskInput{
    height:20px;
    border-radius: 5px;
    border-width:1px;
    border-color:rgb(0, 255, 0);
    border-style:solid;
    box-shadow: 2px 2px #218f21;
}

#taskInput:focus{
    outline:none;
}

#addButton{
    height:25px;
    border-radius: 5px;
    border-width:1px;
    border-color:rgb(0, 255, 0);
    background-color: #ffffff;
    border-style:solid;
    color:#014701;
    text-transform: capitalize;
    box-shadow: 2px 2px #218f21;
}

#addButton:active{
    box-shadow: 1px 1px #218f21;
}

#logo{
    width:300px;
}

.addTask{
    margin-top:40px;
    grid-area:inputbox;
    margin-bottom:30px;
    width:250px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.taskList{
    grid-area:list;
    display:flex;
    flex-direction: column;
    width:250px;
}

.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:10px;
}

.taskText{
    text-align:center;
    padding-top:6px;
    grid-area:tasks;
    width:180px;
    height:30px;
    margin:0px;
    align-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.cross{
    height:30px;
    width:30px;
    grid-area:crossControl;
    padding:5px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color:rgb(222, 250, 206);
}
.cross:hover, .checkmark:hover{
    background-color:rgb(222, 250, 206);
    cursor:pointer;
    font-size:15px;
}

.checkmark{
    grid-area:checkControl;
    height:30px;
    width:30px;
    padding:5px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color:rgb(222, 250, 206);
}